<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="col-md-10 col-12 mx-auto align-item-center">
            <div class="row">
                <!-- right side div  -->
                <div class="col-md-12 col-12 main_header_left align-item-center">
                    <figure class="errorimg">
                        <img src="images/404.webp" alt="jazz" class="img-fluid" title="Software developer">
                    </figure>
                    <h2 class="align-self-center">We're sorry <span class="texr_color">the page you requested</span>
                        could not be found
                        please go back to home page
                        <a href="/"><button>Go Home</button></a>
                    </h2>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>