<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="images/jazzz.jpg" alt="jazz" class="img-fluid" title="Software developer">
                        </figure>
                    </div>
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I'm a <span class="texr_color">Senior Software Engineer</span> working with centric
                            consulting</h1>
                        <a href="/weather"><button>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>